---
import Tag from './Tag.astro';

interface Props {
	tags: string[];
	withHref?: boolean;
}

const { tags, withHref } = Astro.props;
// Ensure tags is always an array, even if undefined or null
const safeTags = tags || [];
---

<div class="flex flex-wrap">
	{
		safeTags.map((tag: string) => {
			const element = <Tag tag={tag} withHref={withHref} />;
			return withHref ? <a href={`/tags/${tag}`}>{element}</a> : element;
		})
	}
</div>
